$white: #fff;
$black: #444;
$light-warm-gray: #f5f2f2;
$warm-gray: #dcd9d9;
$dark-warm-gray: #767373;
$red-orange: #f15e51;
$yellow-orange: #f7b267;
$deep-green: #093143;
$dark-blue: #113b5a;

body {
  font-family: sans-serif;
}
