body {
  font-family: sans-serif; }

body {
  background-image: url("../images/bg2.jpg");
  background-size: cover; }

.container {
  padding: 40px 0px; }

.columns {
  border: 1px solid #dcd9d9; }

.main-content {
  background-color: #fff; }

.logout {
  background-color: pink; }

.primary-nav, .secondary-nav, .main-content {
  height: 600px; }

.primary-nav {
  background-color: rgba(0, 0, 0, 0.8); }
  .primary-nav ul {
    margin-top: 15vh; }
    .primary-nav ul li {
      text-align: center; }
      .primary-nav ul li img {
        margin-bottom: -6px; }
      .primary-nav ul li a {
        margin-left: -14px; }

.secondary-nav {
  background-color: rgba(255, 255, 255, 0.95);
  filter: blur(100px); }
